/* Logo de freeCodeCamp */

.freecodecamp-logo-contenedor {
    width: 100%;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .freecodecamp-logo {
    width:400px;
    height: 50px;
  }